.requestView {
  padding: 30px;

  & img{
    margin: 30px 0 30px 0;
    height: 350px;
    width: 350px;
    background-color: rgb(250, 250, 250);
    object-fit: scale-down;
  }


  &_button {
    & button {
      border: none;
      background-color: white;
      border-radius: 10px;
      border: 0.5px rgb(29, 255, 78) solid;
      padding: 12px;
      font-weight: 500;
      transition: background-color 150ms ease;
      outline: none;

      &:hover{
        background-color: rgb(29, 255, 78);

      }

      &:nth-child(2) {
        margin-left: 10px;
        border: 0.5px rgb(255, 101, 29) solid;
        &:hover{
          background-color: rgb(255, 67, 67);
  
        }
      }
    }
  }

  &_con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &_item {
      padding: 0 0 30px 0;

      & p {
        font-weight: 600;
        font-size: 14px;
        color: rgb(128, 128, 128);
      }

      & input,& textarea {
        margin-top: 10px;
        width: 400px;
        min-height: 30px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: rgb(238, 238, 238);
        padding: 10px;
        font-weight: 500;
      }
    }
  }
}
