.menu {
    
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: width 150ms ease;
    width: 60px;
    overflow-x: hidden;
    z-index: 6;




    &.open {
        width: 220px;
    }
    
    &_select{
        padding:10px 0px 10px 20px;
        outline: none;
        border: none;
        background-color: rgb(245, 245, 245);
        margin-bottom: 10px;
     
    }
    &_item {
        display: flex;
        align-items: center;
        padding-left: 20px;
        height: 42px;
        text-decoration: none;
        position: relative;

        &_deo {
            display: none;

        }

        &.active {
            background-color: rgb(245, 245, 245);

            & .menu_item_deo {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 4px;
                background-color: rgb(0, 152, 223);
            }

            & svg {
                stroke: rgb(0, 0, 0);
            }
            & .menu_item_name.open {
                color: rgb(0, 0, 0);
            }
        }

        &:first-child {
            height: 80px;
            img {
                width: 130px;
            }
        }

        &_name {
            padding-left: 10px;
            font-size: 13.5px;
            display: none;
            transition: opacity 1s ease-out;
            opacity: 0;
            display: none;
            color: black;

            &.open {
                opacity: 1;
                display: block;
            }
        }
        & svg {
            stroke: rgb(0, 0, 0);
        }

        &:last-child {
            margin-top: auto;
            padding: 10px 20px;
            background-color: rgb(245, 245, 245);

            &:hover {
                background-color: rgb(136, 173, 255);
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 786px) {
    .menu {
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

        &.open {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }

        &_item {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;

            &:first-child {
                display: none;
            }
            &_name {
                &.open {
                    display: none;
                }
            }
            &:last-child {
                display: none;
            }
        }
    }
}
