.topNav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px rgb(235, 235, 235) solid;
    &_title {
        padding-left: 30px;
        display: flex;
        align-items: center;
        h3 {
            font-size: 16px;
            font-weight: 600;
            padding-left: 5px;
        }
    }
    &_icons {
        svg {
            padding-right: 30px;
        }
        img {
            padding-right: 30px;
            width: 24px;
            height: 24px;
        }
    }
}
@media only screen and (max-width: 786px) {
    .topNav {
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
    }
}
