.admin{
    &_sub{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
    }
    
    &_title{
        color: rgb(48, 48, 48);
        font-size: 18px;
        font-weight: 500;
    }
}