.tile{

    width: 100%;
    padding: 5px 0 5px 0;
    background-color: #00ffb3;
    margin-bottom: 5px;

    & p{
        margin: 0 5px;
        max-width: 200px;
        font-weight: 600;
        font-size: 14px;
        white-space:nowrap;
        word-break: break-all;
        overflow:hidden;
        text-overflow:ellipsis;
    }
}