.register {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_con1 {
        width: 100%;
        height: 100%;
        background-color: rgb(0, 195, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_con2 {
        width: 100%;
        height: 100%;
        // background-color: rgb(241, 241, 241);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_inputs{
            width: 400px;
        }

        & h4 {
            width: 400px;
            margin-bottom: 30px;
        }
    }
}
@media only screen and (max-width: 480px) {
    .register {
    
        &_con2 {
            width: 80%;
         
            &_inputs{
                width: 100%;
            }
    
            & h4 {
                width: 100%;
               
            }
        }
    }
}