.button {
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 0.5px rgb(223, 223, 223) solid;
    padding: 10px;
    font-weight: 500;
    transition: background-color 150ms ease;
    outline: none;

    &:hover {
        background-color: rgb(240, 240, 240);
    }
}
.adminDashboard {
    padding: 30px;

    &_con {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;
        &_box {
            width: 200px;
            background-color: rgb(248, 250, 248);
            border-radius: 10px;

            & h5 {
                padding: 20px 20px 10px 20px;
            }
            & p {
                padding: 10px 20px 20px 20px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .adminDashboard {
        &_con {
            grid-template-columns: repeat(2, auto);  
            gap:10px;
            &_box{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    .adminDashboard {

        &_con {
            grid-template-columns: repeat(1, 1fr);  
          
           
        }
    }
}
