.appointments {
    width: 100%;

    &_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        height: 60px;
        border-bottom: 0.5px rgb(235, 235, 235) solid;

        &_title {
            margin-left: 30px;
            font-size: 18px;
            color: rgb(163, 163, 163);
            font-weight: 600;
        }
        &_button {
            background-color: white;
            border: none;
            border: 1px #00ffb3 solid;
            border-radius: 10px;
            width: 150px;
            height: 30px;
            margin-right: 30px;
            font-size: 12px;

            &:hover {
                border: none;
                background-image: linear-gradient(#00ffb3, #48ffc8);
            }
        }
    }
    &_items {
        margin-top: 30px;
        min-width: 0;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        justify-content: space-between;
        grid-gap: 30px;
        margin-right: 30px;
        margin-left: 30px;
    }
}

.appointment {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
 
    &_title {
        width: 100%;
        padding: 20px 0;
        text-align: center;
        border-bottom: 0.5px rgb(235, 235, 235) solid;
        font-weight: 600;
        color: rgb(0, 82, 177);
    }

    &_details {
        border-bottom: 0.5px rgb(235, 235, 235) solid;
        margin: 20px, 0;

        &_date {
            display: flex;
            padding: 10px 20px;
            font-size: 14px;
            &_title {
                color: rgb(163, 163, 163);
                width: 60px;
            }
        }
    }

    &_buttons {
        button {
            height: 60px;
            width: 100%;
            background-color: white;
            border: none;
            font-weight: 500;
            font-size: 16px;

            &:hover {
                background-color: rgb(255, 38, 38);
                color: white;
            }
        }
    }
}
@media only screen and (max-width: 1240px) {
    .appointments {

        &_items{
            justify-content: center;
        }
        &_header{
            height: auto;
            display: block;
            &_button{
                margin:30px 0 30px 30px;
            }
        }
    } 

}

@media only screen and (max-width: 375px) {
    .appointment {
    

       width: 90%;
    } 
    .appointments {
    

        &_items{
            justify-items: center;
        }
    } 

}