.settings {
    margin: 30px;

    & button {
        width: 60px;
        padding: 5px;
        background-color: white;
        border: none;
        border: 1px #00ffb3 solid;
        margin-top: 30px;
        margin-bottom: 30px;
        &:hover {
            background-image: linear-gradient(#00ffb3, #48ffc8);
        }
    }

    &_con {
        width: 430px;
        display: flex;
        justify-content: space-between;
        &_item {
            padding: 0 0 30px 0;
            &:nth-child(even){
                margin-left: 30px;
            }

            & p {
                font-weight: 600;
                font-size: 14px;
                color: rgb(128, 128, 128);
            }

            & input{
                
                margin-top: 10px;
                width: 300px;
                min-height: 20px;
                outline: none;
                border: none;
                border-radius: 10px;
                background-color: rgb(238, 238, 238);
                padding: 10px;
                font-weight: 500;

               
            }
        }
    }
}


@media only screen and (max-width: 786px) {
    .settings {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        &_con {
            width: auto;
       
            &_item {
                &:nth-child(even){
                    margin-left: 0px;
                }
            }
        }
    }
}
@media only screen and (max-width: 717px) {
    .settings {
      
        &_con {
            display: inline;
            width: 100%;
            margin-top: 30px;
       
            &_item {
                &:nth-child(even){
                    margin-left: 0px;
                }
                & input{
               
                   width: 100%;
                   padding: 10px 0;
                   padding-left: 10px;

            

                }
            }
        }
    }
}