.settings {
    margin: 30px;
  

    & h5{
        margin-bottom: 30px;
        font-size: 17px;
    }

    & .save{
        margin-bottom: 40px;
    }

    & button {
   
        padding: 10px 20px;
        background-color: rgb(230, 230, 230);
        border: none;
        border-radius: 5px;
        font-weight: 600;

        &:hover {
            background-image: linear-gradient(#00ffb3, #48ffc8);
        }
    }
    &_con{
        background-color:#f8f8f8;
        padding: 60px;
        width: 430px;
        margin: 0 auto;
        &_img{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 30px;
            & img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
            }
    
        }
    
        &_itemCon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 30px 0;    
    
            &_item {
               
               
    
                & p {
                    font-weight: 600;
                    font-size: 14px;
                    color: rgb(128, 128, 128);
                }
    
                & input{
                    
                    margin-top: 10px;
                    width: 300px;
                    min-height: 20px;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    background-color: rgb(238, 238, 238);
                    padding: 10px;
                    font-weight: 500;
    
                   
                }
            }
        }
    }

   
}


@media only screen and (max-width: 786px) {
    .settings {
    
        & .save{
            margin-top: 30px;
            margin-bottom: 60px;
        }
        & button{
            margin-top: 30px;
        }

        & h5{
           
            margin-bottom: 60px;
        }
   
        &_con{
            width: 85%;
            padding: 0;
            background-color: white;
            
            &_img{
          
           margin-top: 60px;
           margin-bottom: 60px;
        
            }
        
            &_itemCon {
                margin-bottom: 60px;
               
                flex-direction: column;
                align-items: unset;
                &_item {
                   & input{
                       width: 100%; 
                       padding: 10px 0;
                   }
                   
                }
            }
        }
    
       
    }
}
