.calender {
    margin: 30px;
    // height: 100%;

    &_today {
        color: white;
        font-family: "Inter";
        color: grey;
    }

    &_menu {
        margin: 30px 0;
        &_today {
            color: white;
            font-family: "Inter";
            color: grey;

            & select {
                padding: 10px;
                outline: none;
                background-color: whitesmoke;
                border: none;
                border-radius: 10%;
                color: grey;
                padding: 10px;
                font-family: "Inter";
                font-weight: 600;

                &:nth-child(even){
                    margin: 0 10px;
                }
            }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_buttons {
            
            display: flex;
            justify-content: space-between;
            gap: 5px;
            &_button {
                outline: none;
                background-color: rgb(245, 245, 245);
                border: none;
                border-radius: 10%;
                color: grey;
                padding: 10px;
                font-family: "Inter";
                font-weight: 600;
                &:hover {
                    background-image: linear-gradient(#00ffb3, #48ffc8);

                    color: black;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .calender {
        margin-bottom: 60px;
        
    }
}
